<div class="uk-card uk-card-default uk-width-1-2@m">
    <form action="{{action}}" method="{{method}}" class="uk-form-stacked" >

        <fieldset class="uk-fieldset uk-card-body">

            <h1 class="uk-legend">{{title}}</h1>

            <div class="uk-margin">
                <label class="uk-form-label">Contact Name</label>
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input" type="text" name="name" placeholder="John Doe" value="{{name}}">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label">Phone Number</label>
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: receiver"></span>
                    <input class="uk-input" type="tel" name="number" placeholder="(401) 123-4567" value="{{number}}">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label">Phone Type</label>
                <div class="uk-inline uk-width-1-1">
                    <select name="type" class="uk-select">
                        {{#select type}}
                            <option value="home">Home</option>
                            <option value="mobile">Mobile</option>
                            <option value="work">Work</option>
                        {{/select}}
                    </select>
                </div>
            </div>

        </fieldset>

        <div class="uk-card-footer uk-text-center">
            <button class="uk-button uk-button-default uk-width-1-3">Submit</button>
        </div>
    </form>
</div>

